<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.homeassistant.MSTeamsStatusSender-Local</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>exec /Users/simonbach/Teams_Status/ms-teams-status-local.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>5</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/ha.msteams-status.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/ha.msteams-status.out</string>
</dict>
</plist>
